<div id="<%= dom_id consultation %>">
  <p>
    <strong>Title:</strong>
    <%= consultation.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= consultation.description %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= consultation.location %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= consultation.text %>
  </p>

  <p>
  <strong>Link:</strong>
  <%= consultation.link %>
  </p>

  <% if consultation.start_time.present? && consultation.end_time.present? %>
  <p>
    <strong>Start Time:</strong> <%= consultation.start_time.strftime('%H:%M') %>
    <br>
    <strong>End Time:</strong> <%= consultation.end_time.strftime('%H:%M') %>
  </p>
<% else %>
  <p>Start and end times are not provided.</p>
<% end %>

</div>
