<div id="<%= dom_id consultation %>">
  <p>
    <strong>Title:</strong>
    <%= consultation.title %>
  </p>

  <p>
    <strong>Practioner:</strong>
    <%= consultation.practioner %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= consultation.description %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= consultation.location %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= consultation.text %>
  </p>

  <p>
  <strong>Link:</strong>
  <%= consultation.link %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= consultation.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= consultation.end_time %>
  </p>

</div>
