<div id="<%= dom_id healer %>">
  <p>
    <strong>Name:</strong>
    <%= healer.name %>
  </p>

  <p>
    <strong>Service:</strong>
    <%= healer.service %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= healer.description %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= healer.contact %>
  </p>

</div>
